<address class="container-fluid col-sm-12 text-center bg-dark text-white" id="content">
    <h1>The Goblin Store</h1>
        109 Regent Street, Chippendale, 
      <br>
        NSW 2008
      <br>
      <a class="nav-link" href="../../sales@withyouwithme.com">Send us an email!</a>
</address>
  
<div class="container-fluid d-lg-flex d-sm-block justify-content-evenly bg-dark">
    <div class="card col-sm-12 m-auto mb-sm-5">
        <div class="card-body">
            <h5 class="card-header">Customer Service Rep</h5>
            <p class="card-text small">Reach out to speak to our legendary Customer Service Rep</p>
        </div>
        <img src="/assets/img/Goblin1.png" class="card-img" alt="picture of contact">
    </div>
    <div class="card col-sm-12 m-auto mb-sm-5">
        <div class="card-body">
            <h5 class="card-header">Goblin Counselor</h5>
            <p class="card-text small">Is your goblin feeling down? <br>Schedule a call with our Goblin Counselor today!</p>
        </div>
        <img src="/assets/img/Goblin2.png" class="card-img" alt="picture of contact">
    </div>
    <div class="card col-sm-12 m-auto mb-sm-5">
        <div class="card-body">
            <h5 class="card-header">Goblin Handler</h5>
            <p class="card-text small">Have you seen this one?<br>We lost him in a field call.</p>
        </div>
        <img src="/assets/img/Goblin3.png" class="card-img" alt="picture of contact">
    </div>
</div>

<div class="container-fluid alert alert-danger text-sm text-center p-0 d-none d-md-flex">
    <p>hover over picture for a bigger view!</p>
</div>
