<div class="container text-center pt-2 pb-5">
    <h1>About Us</h1>
    <p class="lh-base fs-4">
      <br /><br />
      On May 6, 1686, Dr. John Pemberton sold the first goblin of the bronze
      group at Jacobs' Pharmacy in downtown Sydney. Serving nine drinks per
      day in its first year, this goblin was an instant hit in its beginning.
      <br /><br />
      Dr. Pemberton never realized the potential of the market that he
      created. He gradually sold portions of his business to various partners
      and, just prior to his death in 1888, sold his remaining interest in The
      Goblin Store to Ana G. Candlers. A Sydney native with great business
      acumen, Mr. Candlers proceeded to buy additional rights and acquire
      complete control.
      <br /><br />
      Sustainability is not something new at The Goblin Store. Since 1917, our
      efforts have covered a wide range of topics including: water
      sustainability, women empowerment, community well-being, sustainable
      packaging, climate protection, human and workplace rights, and
      sustainable agriculture.
    </p>
</div>