<div class="container text-center">
    <p class="row-cols-6 lh-sm p-md-5 m-auto fs-1" id="p">
      Welcome!<br /><br />
      <span class="fs-5">
        Our goblins are trapped in a humane way of underground cages. <br />
        We use a special lure that they enjoy once they enter the cage.<br />
        Unlike other trappers that use dogs to scare them into hiding.<br /><br />
        We hunt for our goblins in two places:<br />
        Goblin Valley in Utah, US<br />
        Goblin Swamp in Hawke National Park, Pemberton, AUS<br />
        Please browse through our catalog and find your favorite goblin.<br />
        <strong>Expedited shipping is available!</strong><br />
      </span>
    </p>
  </div>
  <div class="container d-flex justify-content-center pb-5">
    <div class="col-md-6 col-sm-12">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/assets/img/greg-rakozy-unsplash.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Goblin Valley in Utah, US</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/assets/img/michael-tuszynski-unsplash.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Goblin Valley in Utah, US</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/assets/img/goblinSwamp1.jfif"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Goblin Swamp in Hawke National Park, Pemberton, AUS</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/assets/img/goblinSwamp2.jfif"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Goblin Swamp in Hawke National Park, Pemberton, AUS</h5>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>